--- title: "Publications" permalink: /publications/ author_profile: true ---
A complete list of my peer-reviewed publications is also available on Google Scholar.

{% assign publication_years = site.data.publications | group_by: "year" | sort: "name" | reverse %} {% for year_group in publication_years %}
{{ year_group.name }}
{% for pub in year_group.items %}
Graphical abstract for {{ pub.title | strip_html }}
{{ pub.title }}
{{ pub.authors }}
{{ pub.journal }}, {{ pub.year }}, {{ pub.details }}.
{% if pub.pdf and pub.pdf != "" %} PDF {% endif %} {% if pub.doi and pub.doi != "" %} DOI {% endif %}
{% endfor %} {% endfor %}
